<a href="https://colab.research.google.com/github/Terrykamau/Python/blob/main/Data_analysis_lesson_5ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [3]:
df=pd.DataFrame({
    'Date':pd.date_range(start='2025-01-10', periods=60),
    'Value':np.random.randint(0,100,size=60)
})

In [4]:
print(df)

         Date  Value
0  2025-01-10     36
1  2025-01-11     16
2  2025-01-12     80
3  2025-01-13     23
4  2025-01-14     33
5  2025-01-15     32
6  2025-01-16     37
7  2025-01-17     68
8  2025-01-18     20
9  2025-01-19      1
10 2025-01-20     63
11 2025-01-21     97
12 2025-01-22     92
13 2025-01-23     11
14 2025-01-24     72
15 2025-01-25     83
16 2025-01-26     80
17 2025-01-27      9
18 2025-01-28     86
19 2025-01-29     37
20 2025-01-30     93
21 2025-01-31     40
22 2025-02-01     77
23 2025-02-02      2
24 2025-02-03     62
25 2025-02-04     59
26 2025-02-05     50
27 2025-02-06     40
28 2025-02-07     28
29 2025-02-08     24
30 2025-02-09     78
31 2025-02-10     69
32 2025-02-11     95
33 2025-02-12     95
34 2025-02-13     29
35 2025-02-14     41
36 2025-02-15     15
37 2025-02-16     56
38 2025-02-17     58
39 2025-02-18     25
40 2025-02-19     33
41 2025-02-20     22
42 2025-02-21     54
43 2025-02-22     66
44 2025-02-23     69
45 2025-02-24     82
46 2025-02-25     11
47 2025-02-26     91
48 2025-02-27     66
49 2025-02-28     11
50 2025-03-01     68
51 2025-03-02     60
52 2025-03-03     30
53 2025-03-04     22
54 2025-03-05     44
55 2025-03-06     43
56 2025-03-07     15
57 2025-03-08     97
58 2025-03-09     30
59 2025-03-10      1

In [27]:
df['year/month']=df['Date'].dt.strftime('%m/%y')

In [28]:
print(df)

         Date  Value year/month week/month week/year
0  2025-01-10     36      01/25    01/2025     01/25
1  2025-01-11     16      01/25    01/2025     01/25
2  2025-01-12     80      01/25    02/2025     02/25
3  2025-01-13     23      01/25    02/2025     02/25
4  2025-01-14     33      01/25    02/2025     02/25
5  2025-01-15     32      01/25    02/2025     02/25
6  2025-01-16     37      01/25    02/2025     02/25
7  2025-01-17     68      01/25    02/2025     02/25
8  2025-01-18     20      01/25    02/2025     02/25
9  2025-01-19      1      01/25    03/2025     03/25
10 2025-01-20     63      01/25    03/2025     03/25
11 2025-01-21     97      01/25    03/2025     03/25
12 2025-01-22     92      01/25    03/2025     03/25
13 2025-01-23     11      01/25    03/2025     03/25
14 2025-01-24     72      01/25    03/2025     03/25
15 2025-01-25     83      01/25    03/2025     03/25
16 2025-01-26     80      01/25    04/2025     04/25
17 2025-01-27      9      01/25    04/2025     04/25
18 2025-01-28     86      01/25    04/2025     04/25
19 2025-01-29     37      01/25    04/2025     04/25
20 2025-01-30     93      01/25    04/2025     04/25
21 2025-01-31     40      01/25    04/2025     04/25
22 2025-02-01     77      02/25    04/2025     04/25
23 2025-02-02      2      02/25    05/2025     05/25
24 2025-02-03     62      02/25    05/2025     05/25
25 2025-02-04     59      02/25    05/2025     05/25
26 2025-02-05     50      02/25    05/2025     05/25
27 2025-02-06     40      02/25    05/2025     05/25
28 2025-02-07     28      02/25    05/2025     05/25
29 2025-02-08     24      02/25    05/2025     05/25
30 2025-02-09     78      02/25    06/2025     06/25
31 2025-02-10     69      02/25    06/2025     06/25
32 2025-02-11     95      02/25    06/2025     06/25
33 2025-02-12     95      02/25    06/2025     06/25
34 2025-02-13     29      02/25    06/2025     06/25
35 2025-02-14     41      02/25    06/2025     06/25
36 2025-02-15     15      02/25    06/2025     06/25
37 2025-02-16     56      02/25    07/2025     07/25
38 2025-02-17     58      02/25    07/2025     07/25
39 2025-02-18     25      02/25    07/2025     07/25
40 2025-02-19     33      02/25    07/2025     07/25
41 2025-02-20     22      02/25    07/2025     07/25
42 2025-02-21     54      02/25    07/2025     07/25
43 2025-02-22     66      02/25    07/2025     07/25
44 2025-02-23     69      02/25    08/2025     08/25
45 2025-02-24     82      02/25    08/2025     08/25
46 2025-02-25     11      02/25    08/2025     08/25
47 2025-02-26     91      02/25    08/2025     08/25
48 2025-02-27     66      02/25    08/2025     08/25
49 2025-02-28     11      02/25    08/2025     08/25
50 2025-03-01     68      03/25    08/2025     08/25
51 2025-03-02     60      03/25    09/2025     09/25
52 2025-03-03     30      03/25    09/2025     09/25
53 2025-03-04     22      03/25    09/2025     09/25
54 2025-03-05     44      03/25    09/2025     09/25
55 2025-03-06     43      03/25    09/2025     09/25
56 2025-03-07     15      03/25    09/2025     09/25
57 2025-03-08     97      03/25    09/2025     09/25
58 2025-03-09     30      03/25    10/2025     10/25
59 2025-03-10      1      03/25    10/2025     10/25

In [29]:
df['week/year']=df['Date'].dt.strftime('%U/%y')

In [30]:
print(df)

         Date  Value year/month week/month week/year
0  2025-01-10     36      01/25    01/2025     01/25
1  2025-01-11     16      01/25    01/2025     01/25
2  2025-01-12     80      01/25    02/2025     02/25
3  2025-01-13     23      01/25    02/2025     02/25
4  2025-01-14     33      01/25    02/2025     02/25
5  2025-01-15     32      01/25    02/2025     02/25
6  2025-01-16     37      01/25    02/2025     02/25
7  2025-01-17     68      01/25    02/2025     02/25
8  2025-01-18     20      01/25    02/2025     02/25
9  2025-01-19      1      01/25    03/2025     03/25
10 2025-01-20     63      01/25    03/2025     03/25
11 2025-01-21     97      01/25    03/2025     03/25
12 2025-01-22     92      01/25    03/2025     03/25
13 2025-01-23     11      01/25    03/2025     03/25
14 2025-01-24     72      01/25    03/2025     03/25
15 2025-01-25     83      01/25    03/2025     03/25
16 2025-01-26     80      01/25    04/2025     04/25
17 2025-01-27      9      01/25    04/2025     04/25
18 2025-01-28     86      01/25    04/2025     04/25
19 2025-01-29     37      01/25    04/2025     04/25
20 2025-01-30     93      01/25    04/2025     04/25
21 2025-01-31     40      01/25    04/2025     04/25
22 2025-02-01     77      02/25    04/2025     04/25
23 2025-02-02      2      02/25    05/2025     05/25
24 2025-02-03     62      02/25    05/2025     05/25
25 2025-02-04     59      02/25    05/2025     05/25
26 2025-02-05     50      02/25    05/2025     05/25
27 2025-02-06     40      02/25    05/2025     05/25
28 2025-02-07     28      02/25    05/2025     05/25
29 2025-02-08     24      02/25    05/2025     05/25
30 2025-02-09     78      02/25    06/2025     06/25
31 2025-02-10     69      02/25    06/2025     06/25
32 2025-02-11     95      02/25    06/2025     06/25
33 2025-02-12     95      02/25    06/2025     06/25
34 2025-02-13     29      02/25    06/2025     06/25
35 2025-02-14     41      02/25    06/2025     06/25
36 2025-02-15     15      02/25    06/2025     06/25
37 2025-02-16     56      02/25    07/2025     07/25
38 2025-02-17     58      02/25    07/2025     07/25
39 2025-02-18     25      02/25    07/2025     07/25
40 2025-02-19     33      02/25    07/2025     07/25
41 2025-02-20     22      02/25    07/2025     07/25
42 2025-02-21     54      02/25    07/2025     07/25
43 2025-02-22     66      02/25    07/2025     07/25
44 2025-02-23     69      02/25    08/2025     08/25
45 2025-02-24     82      02/25    08/2025     08/25
46 2025-02-25     11      02/25    08/2025     08/25
47 2025-02-26     91      02/25    08/2025     08/25
48 2025-02-27     66      02/25    08/2025     08/25
49 2025-02-28     11      02/25    08/2025     08/25
50 2025-03-01     68      03/25    08/2025     08/25
51 2025-03-02     60      03/25    09/2025     09/25
52 2025-03-03     30      03/25    09/2025     09/25
53 2025-03-04     22      03/25    09/2025     09/25
54 2025-03-05     44      03/25    09/2025     09/25
55 2025-03-06     43      03/25    09/2025     09/25
56 2025-03-07     15      03/25    09/2025     09/25
57 2025-03-08     97      03/25    09/2025     09/25
58 2025-03-09     30      03/25    10/2025     10/25
59 2025-03-10      1      03/25    10/2025     10/25

In [36]:
df.groupby('week/year')['Value'].sum()

week/year
01/25     52
02/25    293
03/25    419
04/25    422
05/25    265
06/25    422
07/25    314
08/25    398
09/25    311
10/25     31
Name: Value, dtype: int64

In [37]:
df.groupby('week/year')['Value'].mean()

week/year
01/25    26.000000
02/25    41.857143
03/25    59.857143
04/25    60.285714
05/25    37.857143
06/25    60.285714
07/25    44.857143
08/25    56.857143
09/25    44.428571
10/25    15.500000
Name: Value, dtype: float64

In [38]:
df.groupby('week/year')['Value'].agg(['sum','mean'])

           sum       mean
week/year
01/25       52  26.000000
02/25      293  41.857143
03/25      419  59.857143
04/25      422  60.285714
05/25      265  37.857143
06/25      422  60.285714
07/25      314  44.857143
08/25      398  56.857143
09/25      311  44.428571
10/25       31  15.500000