<a href="https://colab.research.google.com/github/Terrykamau/Python/blob/main/data_analysis_lesson_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#recap
fruits=["mango","orange","kiwi"]
for fruit in fruits:
  print(fruits)

['mango', 'orange', 'kiwi']
['mango', 'orange', 'kiwi']
['mango', 'orange', 'kiwi']

In [ ]:
fruits=["mango","orange","kiwi"]
for fruit in fruits:
  print(fruit)

mango
orange
kiwi

In [ ]:
def greet(name):
  print(f"hello {name}")
greet('Terry')

hello Terry

In [ ]:
def greet(Terry):
  print(f"hello {Terry}")
greet('Terry')

hello Terry

In [ ]:
import math
print(math.pi)

3.141592653589793

In [ ]:
#series- one dimensional labelled array of values
#two dimensional labelled data structure with columns of potenially differenent types

In [ ]:
import pandas as pd

In [ ]:
data=pd.Series([1,2,3,4], index=["o","b","c",'r'])
print(data)

o    1
b    2
c    3
r    4
dtype: int64

In [ ]:
data={'name': ['teresiah','Njoki','kamau'],
      'country':['kenya','uganda','rwanda'],
      'age':[20,30,40]}
df=pd.DataFrame(data)
print(df)

       name country  age
0  teresiah   kenya   20
1     Njoki  uganda   30
2     kamau  rwanda   40

In [ ]:
df.tail(1)

    name country  age
2  kamau  rwanda   40

In [ ]:
df.head(1)

       name country  age
0  teresiah   kenya   20

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     3 non-null      object
 1   country  3 non-null      object
 2   age      3 non-null      int64
dtypes: int64(1), object(2)
memory usage: 204.0+ bytes

In [ ]:
df.describe()

        age
count   3.0
mean   30.0
std    10.0
min    20.0
25%    25.0
50%    30.0
75%    35.0
max    40.0

In [ ]:
df.shape

(3, 3)

In [ ]:
df.dtypes

name       object
country    object
age         int64
dtype: object

In [ ]:
df=df.sort_values(by='age').reset_index(drop=True)
print(df)

       name country  age
0  teresiah   kenya   20
1     Njoki  uganda   30
2     kamau  rwanda   40

In [ ]:
df.query('age>=30')

    name country  age
1  Njoki  uganda   30
2  kamau  rwanda   40

In [ ]:
df[df['age']>30]

    name country  age
2  kamau  rwanda   40

In [ ]:
df.groupby('country')['age'].mean()

country
kenya     20.0
rwanda    40.0
uganda    30.0
Name: age, dtype: float64

In [ ]:
df.groupby('country').count()

         name  age
country
kenya       1    1
rwanda      1    1
uganda      1    1

In [ ]:
df['country'].unique()

array(['kenya', 'uganda', 'rwanda'], dtype=object)

In [ ]:
df['country'].nunique()

3

In [ ]:
df.to_csv("dataframe.csv",index=False)

In [ ]:
df.to_excel("dataframe.xlsx")

In [ ]:
df.to_json("dataframe.json", orient="records")

In [ ]:
data=pd.read_csv("dataframe.csv")
print(data)

       name country  age
0  teresiah   kenya   20
1     Njoki  uganda   30
2     kamau  rwanda   40

In [ ]:
import sqlite3 as sql
conn=sql.connect("database.db")
df.to_sql("file",conn, if_exists="replace", index=False)
conn.close()

In [ ]:
conn=sql.connect("database.db")
data=pd.read_sql("SELECT * FROM file",conn)
conn.close()
print(data)

       name country  age
0  teresiah   kenya   20
1     Njoki  uganda   30
2     kamau  rwanda   40

In [ ]:
mean=df['age'].mean()
median=df['age'].median()
variance= df['age'].var()
standard_deviation=df['age'].std()
min_max=df['age'].min(), df['age'].max()
print(mean)
print(median)
print(variance)
print(standard_deviation)
print(min_max)

30.0
30.0
100.0
10.0
(20, 40)

In [ ]:
abs(df['age'].max()-df['age'].min())

20

In [ ]:
abs(df['age'].quantile(0.25)-df['age'].quantile(0.75))

np.float64(10.0)